<main class="main-footer">
<div class="terms">
<h2>利用規約</h2>
<p>この利用規約（以下，「本規約」といいます。）は，www.futmake.com（以下，「当サイト」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。</p>
<p>皆様に楽しく、快適にご利用いただくために、以下のとおり本規約を定めております。当サイトの利用に際しては、本規約に同意いただく必要があります。</p>



<h3>第1条　会員</h3>
<ol>
<li>本規約において「会員」とは、当サイトの定める手続きに基づき、本規約の全てを承諾の上、当サイト所定の方法にて当サイトの利用を申込み、当サイト がこれを承認した者とします。</li>
<li>会員は、当サイトが運営する会員向けサービス（以下「サービス」といいます）を当サイトが定める条件にしたがって利用するこ とができます。</li>
<li>尚、当サイトは会員登録希望者へ理由を開示することなく、当該登録を承認しないことができるものとします。 また承認後であっても承認の取消及び退会処分を行う場合があります</li>
</ol>

<h3>第2条　規約の変更</h3>
<p>社は本規約を会員に対しての予告なしに改訂できるものとします。また改訂された本規約は、改訂以前、以後に関わらずすべての会員に対して適用されるものとします。改訂された本規約については、サイト上またはメールで告知されるものとします。</p>

<h3>第3条　ID、パスワード</h3>
<ol>
<li>会員は、サービスの利用にあたり会員登録時にメールアドレス及びパスワード（以下あわせて「ID等」と呼びます）の登録が必要になります。</li>
<li>会員は、当サイトが提供するサービスの利用にあたり、当サイトに登録しているID等を使用するものとします。</li>
<li>会員はID等を他人に使用させることはできません。</li>
<li>会員は、ID等の使用及び管理について自ら責任を持つものとします。</li>
<li>会員は、自己のID等によりなされた、当サイトが提供するサービスにかかる一切の行為及びその結果について当該行為を会員自身が行ったか否かまたは会員自身の過失の有無を問わず、自らその責任を負うものとします。</li>
<li>会員が、第三者のID等を不正に利用したことにより、当該第三者又は当サイトに損害を与えた場合、会員は当該不正使用によって生じた損害を当該第三者又は当サイトに賠償するものとします</li>
<li>会員が、自己のID等が第三者に不正に使用され、損害が生じた場合でも、当サイトでは一切責任を持ちません。また、当該行為によって第三者や当サイトに損害を与えた場合には当該会員が一切の責任を負うものとします。</li>
<li>会員は、登録情報に変更が生じた場合または認証情報を第三者に知られた場合、認証情報が第三者に使用されている疑いのある場合には、本規約および当サイトが定める方法により、直ちに当サイトにその旨連絡するとともに、当サイトの指示がある場合にはこれに従うにものとします。</li>
<li>会員が前項の届出をしなかったことにより、サービスを利用できない等の不利益を被った場合、当サイトは一切の責任を負わないものとします。</li>
</ol>

<h3>第4条　登録情報</h3>
<ol>
<li>当サイトは原則として、会員個人を特定することができる情報を本人の同意を得ずに第三者に開示する事は行わないものとします。</li>
<p>但し、法令に基づく公的機関からの照会及び当サイトが法令によって公開義務を負う場合や、会員が他の会員または第三者に不利益を及ぼす行為をしたと当サイトが判断した場合には、当サイトは会員登録内容を当該第三者等や警察または関連諸機関に通知する事が出来ます。</p>
<p>また、以下の限られた条件の下、個人情報を収集開示することがあります。</p>
<ol type="I">
<li>会員に対し、適切なサービスを提供し、広告主に効果的な広告手段を提供する為。</li>
<li>情報の集計、分析の為。</li>
<li>パートナーとなりうる企業、広告主、その他の第三者に当サイトのサービスを説明する場合、その他の合法的な目的の為。</li>
<li>当サイトのサービス情報を連絡するメール送信の為。</li>
<li>その他、収集開示の必要があると当サイトが認めた場合。</li>
</ol>
<p>尚、会員が退会した後も、上記の場合に限り、登録情報を利用できるものとします。</p>
<li>入会の際に会員が申告する登録情報のすべての項目に関して虚偽の申告は一切認めないものとします。</li>
<li>ID等を含むすべての会員の登録情報は当サイトが所有するものとします。</li>
<li>住所、電話番号、その他の登録情報に変更が生じた場合、会員は速やかに所定の変更手続きを行うものとします。</li>
<li>会員は、サービスのの利用上発生した問題について、当サイトが要求する事項をすべて当サイトに対して開示するものとします。</li>
<li>会員の資格を譲渡・貸与することはできません。</li>
</ol>

<h3>第5条　会員資格の取消</h3>
<ol>
<li>以下の項目に該当する場合、当サイトの判断により会員資格を取り消すことができるものとします。</li>
<ol type="I">
<li>会員資格を不正に利用した場合</li>
<li>会員の登録情報に虚偽の記載があることが認められた場合</li>
<li>サービスを不正に利用した場合</li>
<li>本規約のいずれかに違反した場合</li>
<li>会員が12か月連続で当サイトのアカウントにログインしていない場合（その場合は、アカウントに登録されているメールアドレスに事前通知を致します。)</li>
<li>会員が死亡した場合</li>
<li>その他、当サイトが不適当と判断する場合</li>
</ol>
<li>会員資格を取り消した場合、その会員がサービスにおいて保有するすべての権利を取り消すものとします。</li>
</ol>

<h3>第6条　退会</h3>
<p>退会する場合、当サイトでの退会処理終了後、退会となります。</p>

<h3>第7条　禁止事項</h3>
<ol>
<li>会員は、以下に該当する、またはその恐れのある行為を行うことは禁止とします。</li>
<ol>
<li>)　本規約に反する行為</li>
<li>)　公序良俗に反する行為</li>
<li>)　犯罪的行為に結びつく行為</li>
<li>)　虚偽の情報を広める、又はその恐れのある行為</li>
<li>)　第三者の肖像権または著作権その他の知的所有権を侵害するおそれのある行為</li>
<li>)　違法または反社会的な行為</li>
<li>)　他の会員、又は第三者の名誉、財産、信用、生命、プライバシーを侵害する行為</li>
<li>)　その他法律に反する行為や、社会通念上問題であると当サイトが判断する行為</li>
<li>)　他者になりすましてサービスを利用する行為</li>
<li>)　他の会員、又は第三者を差別、誹謗中傷している行為</li>
<li>)　他の会員、又は第三者に不利益を与える行為</li>
<li>)　宗教関連の勧誘や情報を広める、又はその恐れのある行為</li>
<li>)　選挙の事前運動、選挙運動またはこれらに類似する行為、および公職選挙法に抵触する行為</li>
<li>)　当サイトの承認した以外の方法で、営業活動、営利を目的とした利用を行う行為やその準備を目的とした行為</li>
<li>)　有償、無償の有無を問わず、当サイトの承認した以外の方法で、商業目的や広告目的で利用する行為</li>
<li>)　当サイトの承認した以外の方法で、他の会員、又は第三者との間で、売買および金銭的な利害の発生する行為</li>
<li>)　当サイトの承認した以外の方法で、当サイトが運営する以外のWebサイトやリソースへのリンクやＵＲＬを書き込む行為</li>
<li>)　未成年者に対し悪影響があると判断される行為</li>
<li>)　当サイトの運営を妨げ、または、当サイトの信用を毀損する行為</li>
<li>)　当サイトのメール・ホームページの内容の無断転載及び再配布</li>
<li>)　会員の同意を得ることなく、又は詐欺的な手段により他者の個人情報を収集する行為</li>
<li>)　スパムメールの送信、もしくは、不特定多数の会員に対して電子メールやメッセージを送る行為</li>
<li>)　他の会員に嫌悪感を与える行為</li>
<li>)　有害なコンピュータプログラム等を送信し、または他者が受信可能な状態におくなどの不正アクセス</li>
<li>)　わいせつ、アダルト関連の表現・内容を書き込む行為</li>
<li>)　前各号に抵触するウェブサイトやリソースへのリンクやＵＲＬを書き込む行為</li>
<li>)　その他、当サイトが不適当と判断した行為</li>
</ol>
<li>上記に該当する行為が行われた場合には、当サイトは当サイトの裁量によって、会員その他第三者の承諾を得ることなく、投稿情報の編集、修正、削除などを行えるものとします。</li>
</ol>

<h3>第8条　情報の商用利用の禁止</h3>
<ol>
<li>会員は、当サイトが承認した場合を除き、サービスを通じて入手したいかなる情報も複製、販売、出版、公開その他いかなる方法においても会員の個人としての私的使用以外の使用をすることはできません。また、他の会員または第三者を利用して同様の行為をさせることはできません。</li>
<li>会員は、営利目的でサービスを利用してはなりません。</li>
</ol>

<h3>第9条　電子メールの受・発信</h3>
<ol>
<li>会員として当サイトと電子メールの受・発信を行う場合、登録したメールアドレスを使用するものとし、登録と異なるメールアドレスにて受・発信を行った場合、当該会員に不利益、損害が発生しても、当サイトはその責任を負わないものとします。</li>
<li>当サイトがホームページ上に掲載し又は会員に送る電子メール内の情報については、当サイトが選択および決定できるものとします。</li>
<li>会員として発信する電子メールの本文中の記載内容にしては、会員本人の責任に基づくものとします。</li>
</ol>

<h3>第10条　広告</h3>
<p>広告に関しては商品等の販売、提供会社から提供された資料に基づき作成されており、当サイトは、広告記載内容に関して一切責任も負わないものとします。</p>

<h3>第11条　情報・サービス提供に関する責任</h3>
<ol>
<li>当サイトが提供するサービスや情報については、その完全性、正確性、有用性を保証するものではありません。また当該情報や会員から提供さ れた情報に起因する損害（身体的、精神的、財産的損害を含む）が会員に発生した場合でも、当サイトは一切の責任を負わないものとします。</li>
<li>当サイトは、会員に対しサービスを提供するにあたり、当サイトの故意または重大な過失があり、会員に損害が生じた場合のみ、現実、直接かつ通常の損害に限り賠償するものとします。尚、この場合において、当サイトは、会員に発生した使用機会の逸失、データの滅失、業務の中断、またはあらゆる種 類の損害（間接損害、特別損害、付随損害、派生損害、逸失利益を含む）に対して、たとえ当サイトがかかる損害の可能性を事前に通知されていたとしても、いかなる責任も負いません。</li>
<li>当サイトがサービスにおいて提供するコンテンツ上において、ID等、個人情報、または個人を特定できる情報を当該会員が掲載した場合は、個人の責任の基とみなし、当サイトはこれに対する一切の責任を負わないものとします。</li>
</ol>

<h3>第12条　情報の利用と権利の所属</h3>
<ol>
<li>会員が本サービスの利用にあたり投稿した原稿の文章、画像、音声等の情報は、当該著作物たる情報を創作した著作者または著作権者、その他当該権利に関する正当な権限を有する者に帰属するものとします。</li>
<li>会員は、本サービスを利用にあたり投稿した原稿の文章、画像、音声等の情報については、当サイトに対して、日本の国内外において、無償で、非独占的に使用、複製、編集、改編、掲載、転載、公衆送信、頒布、販売、提供、譲渡、貸与、翻訳・翻案などができる権利及び二次的著作物の利用に関する原著作権者の権利(著作権法21条ないし28条の権利)を許諾します。また、会員は、当サイトから第三者に対する再利用許諾権を含んで許諾するものとし、当サイト又は当サイトから再利用許諾権を受けた第三者に対して著作者人格権を行使しないものとします。当サイトは、当サイト外において会員から投稿された原稿の文章、画像、音声等の情報を利用する際には、原則として会員に通知を行います。ただし、当サイト内で使用する場合、会 員に対する事前通知は要しないものとします。</li>
<li>会員は、会員が本サービス利用にあたり投稿した原稿の文章、画像、音声等の情報について、複製、公衆送信、頒布、翻訳・翻案等、著作憲法上の権利を全て有していることを前提とします。また、会員が第三者の著作物等を利用して投稿を行う場合には、会員の責任と負担において前項の許諾に必要な権利処理(会員から当サイトに対する利用許諾、当サイトから第三者に対する再利用許諾に必要な権利処理を含みます。)がなされていることを前提とするものとします。</li>
<li>当該会員が投稿した情報について第三者から権利侵害の主張があった場合には、当該会員が自らの費用と責任において対応するものとします。この場合において、当サイトは、権利侵害の有無を問わず、当該情報を本サービスから削除することができます。</li>
<li>前の2項の規定は、会員が本サービスの利用を停止あるいは退会した後も、なお有効に存続するものとします。</li>
<li>当サイトは、会員の事前の承諾を必要とせず、当サイトが適切と判断する方法にて会員及びサービスの内容について分類又は順位をつけて掲載することができるものとします。また、当該分類又は順位に応じて、会員に種別を設けて、それぞれの会員に異なるサービス形態で、随時提供できる権利を有します。</li>
</ol>

<h3>第13条　サービスの中断、停止</h3>
<ol>
<li>当サイトは、以下に該当する場合、会員に事前に通達することなく、サービスの一部もしくは全部を一時中断、または停止する場合があります。</li>
<ol type="I">
<li>当サイトのシステム定期保守、更新ならびに緊急の場合</li>
<li>火災、停電、天災などの不可抗力により、サービスの提供が困難な場合</li>
<li>その他、運用上または技術上で必要と判断された場合、及び不測の事態により、サービスの提供が困難と判断した場合</li>
</ol>
<li>上記のような事態に伴い、会員に不利益、損害が発生した場合、当サイトはその責任を負わないものとします。</li>
</ol>

<h3>第14条　サービス内容の変更、中止</h3>
<p>当サイトは、会員の承認を受けることなく、サービスの内容を変更、または中止する場合がありますが、会員はそれに同意するものとし、会員に不利益、損害が発生した場合でも当サイトはその責任を一切負わないものとします。</p>

<h3>第15条　事業の停止</h3>
<p>当サービスは一定の予告期間をもって、事業の停止を行う場合がありますので、あらかじめご了承ください。</p>

<h3>第16条　データの保存と削除</h3>
<ol>
<li>サービスにおいて、データを確実に保存することを保証するものではありません。会員はデータをアップロードする際に、自身のパソコンなどに当該データをバックアップ保存するなどして当該データの消失に備えるものとします。</li>
<li>会員が12か月連続で_______アカウントにログインしていない場合、当サイトはその会員が_________にアップロードしたデータを削除することができるものとします。</li>
</ol>

<h3>第17条　利用環境の整備</h3>
<ol>
<li>利用者は、当サービスを利用するために必要な通信機器、ソフトウェアその他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、利用可能な状態に置くものとします。また、当サービスのご利用にあたっては、自己の費用と責任において、利用者が任意に選択し、電気通信サービスまたは電気通信回線を経由してインターネットに接続するものとします。</li>
<li>利用者は、関係官庁等が提供する情報を参考にして、自己の利用環境に応じ、コンピュータ・ウィルスの感染、不正アクセスおよび情報漏洩の防止等セキュリティを保持するものとします。</li>
<li>当サイトは、利用者の利用環境について一切関与せず、また一切の責任を負いません。</li>
</ol>

<h3>第18条（利用規約の変更）</h3>
<p>当サイトは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>

<h3>第19条　免責等</h3>
<ol>
<li>当サイトは会員同士、会員と第三者、あるいは第三者同士のトラブルに対して、一切の責任を負わないものとします。万一トラブルが発生した場合、これを当サイトを含まない当事者同士で解決するものとします。</li>
<li>当サイトは、サービスおよび会員又は第三者が、当サイトのサービスを利用して記述する内容により発生あるいは誘発された損害、情報の利用により得た成果、又は、その情報自体の合法性や道徳性、権利の許諾、正確さについて、一切の責任を負わないものとします。</li>
<li>当サイトは、会員同士の情報交換について、調査する権利を持ちますが調査義務を負わないものとします。</li>
<li>当サイトは、サービス上で提供する広告情報の内容が、会員又は第三者の権利を侵害し、又は、権利の侵害に起因して紛争が生じた場合、その侵害及び紛争に対して何らの責任も負わないものとします。</li>
<li>当サイトは、サービス提供のためのコンピューターシステムの障害等による電子メールの遅配、未配、サイト又は会員専用ページ上の誤表示及びそれ以外のいかなる原因に基づき生じた損害について、賠償する義務を一切負わないものとします。</li>
<li>当サイトは、サービスの停止又は中止、サービス内容の変更によって受ける損害について、賠償する義務を一切負わないものとします。</li>
<li>当サイトは、サービス及びパートナーならびに広告主を含む第三者のウェブサイトからのダウンロードやコンピューターウイルス感染等により発生した、コンピューター、回線、ソフトウェア等の損害について、賠償する義務を一切負わないものとします。</li>
<li>当サイトはサービスを通じて行われた広告主を含む第三者と会員との取引（懸賞等のプロモーション参加を含む）について、一切の責任を負わないものとし、全ての取引は当該第三者と会員の責任においてなされるものとします。</li>
<li>当サイトは、サービスに関し、遅滞、変更、停止、中止、廃止、及びサービスを通じて提供される情報等の消失、その他サービスに関連して発生した損害について、一切の責任を負わないものとします。</li>
<li>当サイトの提供するサービスに関して紛争が生じ、当サイトが会員または第三者から指摘を受け、裁判所において損害賠償その他の責任を認定され、 その支払いに応じた場合には、当サイトは、当該トラブルの原因を作出した会員に対し、当該紛争にかかる一切の費用（賠償金、訴訟費用および弁護士費用を含 む）を請求できるものとします。</li>
<li>当サイトに接続が困難、不可能、あるいは一部または全部のサービスが不完全、または完全に提供されない場合でも、当サイトはこれの責任を一切負わないものとします。また当サイトに接続できるユーザーは当該障害について当サイトに対して一切の責任の追求ができないものとします。</li>
</ol>

<h3>第20条　情報の無断転載、再配布の禁止</h3>
<p>当サイトの運営するサイト上の記事・画像・イラストの無断転載、再配布を禁じます。 サイト上のあらゆる情報の編集、複製、転載、再配布を禁止します。</p>

<h3>第21条　適用範囲</h3>
<p>本規約は、当サイト上で当サイトが提供するサービスを利用される全てのお客様(会員登録の有無を問わない。)と当サイトとの一切の関係について適用されます。</p>

<h3>第22条（準拠法・裁判管轄）</h3>
<ol>
<li>本規約の解釈にあたっては，日本法を準拠法とします。</li>
<li>本サービスに関して紛争が生じた場合には，当サイトの本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
</ol>
</div>
</main>