<main>
<div class="advertising">
<img src="/banner.jpg" width="100%">
</div>
<div class="wrapper courts">
    <div class="left">
        <h2>フットサルコート詳細</h2>
          <div class="court-detail">
            <div class="court-img">
              <img src="/team.jpg">
              </div>
              <table>
                  <tr>
                      <th>施設名</th>
                      <td>CABOフットサル</td>
                  </tr>
                  <tr>
                      <th>地域</th>
                      <td>兵庫県</td>
                  </tr>
                  <tr>
                      <th>住所</th>
                      <td>宝塚市安倉西4丁目25－1</td>
                  </tr>
                  <tr>
                      <th>電話番号</th>
                      <td>0797-87-1708</td>
                  </tr>
                  <tr>
                      <th>公式HP</th>
                      <td>http://www.cabo-pb.com/</td>
                  </tr>
                  <tr>
                      <th>営業時間</th>
                      <td><p>日～金　10：00～24：00<br>土・日・祝　8：00～24：00</p></td>
                  </tr>
                  <tr>
                      <th>利用料金</th>
                      <td><p>平日10時～18時<br>メンバー　￥7,000　ビジター　￥9,200</p>
                      <p>平日18時～24時　土日祝 8時～24時<br>メンバー　￥10,800　ビジター　￥13,000</p></td>
                  </tr>
                  <tr>
                      <th>駐車場</th>
                      <td>30台</td>
                  </tr>
              </table>
          </div>
    </div>
    
    <div class="right">
        <h2>最新記事</h2>
        <ul class="post">
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
        </ul>
    </div>
</div>
</main>