<div class="right">
    <h2>最新記事</h2>
    <ul class="post">
      <% @posts[0..3].each do |post| %>
      <%= link_to post_path(post) do %>
      <li class="post-item clearfix">
        <%= image_tag "/post_images/#{post.image}" %>
        <p><%= post.title %></p>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>