// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courts h2 {
    border-left:6px solid #B9FE28;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}
.courts .serch input {
    background:#B9FE28;
    color:#fff;
}
.court-detail {
    padding:10px;
    width:100%;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.court-list {
    display:flex;
    margin-bottom:10px;
    padding:10px;
    width:100%;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}
.court-list:hover {
    opacity:.7;

}

.court-list-left {
    width:30%;
}

.court-list-right {
    padding:15px;
    width:70%;
}
.court-list-left .img {
    width:100%;
    height:auto;
}

.court-list h3 {
    font-size:16px;
    font-weight:bold;
}

.court-list p {
    margin-top:20px;
    margin-bottom:0;
}
.court-img {
    text-align:center;
}

.court-img img {
    width:80%;
    height:auto;
}

.new form #facility_image {
    background:#fff;
}

.court-detail table {
    width:100%;
    margin-top:30px;
}

.court-detail tr {
    border-bottom:1px solid #EFEFEF;
}
.court-detail th {
    width:150px;
    padding:12px;
    vertical-align:top;
}
.court-detail table p {
    padding:12px 24px 12px 0;
}
@media screen and ( max-width:576px ) {
    
.court-list-right {
    padding:7px;
    width:70%;
}

.court-list  h3 {
    font-size:13px;
}
.court-list  p {
    font-size:12px;
}

.court-detail table {
    font-size:70%;
}
.court-detail th {
    width:100px;
}
}