// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courts h2 {
    border-left:6px solid #B9FE28;
}
.courts .serch input {
    background:#B9FE28;
    color:#fff;
}

.court-list {
    margin-bottom:10px;
    padding:10px;
    width:100%;
    text-align:center;
    background:#fff;
    box-shadow: 0 0 2px rgba(150, 150, 150, 0.1);
}

.court-list h3 {
    font-size:16px;
    font-weight:bold;
}

.court-list-flex {
    display:flex;
    justify-content:space-between;
}
.court-list-flex a {
    width:49%;
}
.court-list .img {
    width:100%;
    height:auto;
}

