// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-footer {
    background-color:#EFEFEF;
    padding:30px 0;
}

.privacy,.terms {
    margin: 0 auto;
    padding:30px;
    border:2px solid #EFEFEF;
    border-radius:10px;
    width:80%;
    background:#fff;
}
.privacy h2,.terms h2 {
    font-weight:bold;
}
.privacy h3,.terms h3 {
    font-size:20px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
}
.privacy li,.terms li {
    padding: 0 15px 15px 0;
}

.ad {
    text-align:center;
    width:100%;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
    padding-bottom: 50px;
}
.ad h4 {
    padding:20px 0;
}
@media screen and ( max-width:576px ) {

.privacy,.terms {
    width:95%;
}
.privacy h2,.terms h2 {
    font-size:18px;
}
.privacy h3,.terms h3 {
    font-size:16px;
}
.privacy p,.terms p {
    font-size:14px;
}
.privacy li,.terms li {
    padding: 0 5px 5px 0;
    font-size:14px;
}
.privacy ol,.terms ol {
    padding-left:20px;
}
    
}
@media screen and ( max-width:768px ) {
    

}