// Place all the styles related to the matchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.matchs h2 {
    border-left:6px solid #F94519;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.match-list {
    margin-bottom:10px;
    padding:10px;
    width:100%;
    text-align:left;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}
.match-list:hover {
    opacity: .7;
}
.match-list h3,.match-detail h3,.match-list h4 {
    font-size:16px;
}

.match-list img {
    width:50px;
    height:50px;
}

.match-list p {
    display:inline-block;
    margin:0;
}

.match-detail {
    width:100%;
    background:#fff;
    padding:10px;
    padding-left:30px;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.detail {
    margin-top:40px;
    width:90%;
}
.detail h3 {
}
.detail p {
    padding-left:30px;
}

.new #match_req_match_date_1i {
    width:95px;
}
.new #match_req_match_date_2i {
    width:90px;
}
.new #match_req_match_date_3i {
    width:90px;
}
.new #match_req_match_date_4i {
    width:70px;
}
.new #match_req_match_date_5i {
    width:70px;
}
.new #match_req_end_time_4i {
    width:60px;
}
.new #match_req_end_time_5i {
    width:60px;
}

.edit-delete {
    text-align:center;
}
.edit-delete textarea {
    width:300px;
    height:200px;
}

.apply-comment {
    width:51%;
    margin-bottom:10px;
    padding:10px;
    text-align:left;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
    position:relative;
}
.apply-comment form {
    display:inline-block;
    position:absolute;
    bottom:5px;
    right:10px;
}
.apply-comment a {
   
}

.apply-comment p {
    margin-bottom:5px;
    font-size:12px;
}
.comment-btn {
    height:30px;
}
@media screen and ( max-width:576px ) {

.match-list h3,.match-detail h3 {
    font-size:14px;
}
.match-list h4 {
    font-size:12px;
}
.match-list p,.match-detail p {
    font-size:14px;
}
.match-list img {
    width:30px;
    height:30px;
}

.match-detail a {
    font-size:12px;
}

.apply-comment {
    width:100%;
    margin-top:-10px;
}

}

#open {
    position:absolute;
    bottom:5px;
    left:10px;
    color: #fff;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 500px;
  padding-left: 30px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 ;
  transition: .8s;
  z-index: 2;
}

#modal p {
  line-height: 1.5;
  margin: 0 0 20px;
}

#mask.aa {
  display: none;
}

#modal.aa {
  transform: translate(0, -500px);}