// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rooms h2 {
    border-left:6px solid #5BC44E;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}
.rooms h3 {
    font-size:16px;
    padding-left:10px;
}
.room-list {
    margin-bottom:10px;
    padding:10px;
    width:100%;
    text-align:left;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}
.room-list:hover {
    opacity: .7;
}
.message {
    margin-top:30px;
}
.alert {
    width:70%;
    padding: 7px 10px 7px 7px !important;
    background:#6BC85B;
}
.text-right p, .text-left p{
    display:inline-block;
    border-radius:20px;
}

@media screen and ( max-width:576px ) {
    
.alert {
    padding:4px !important;
}
   
.text-right p, .text-left p{
    font-size:12px;
}
}