// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teams h2 {
    border-left:6px solid #FB9C1E;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.chart {
    margin-top:50px;
    width:90%;
}

.team-list {
    margin-bottom:10px;
    padding:10px;
    width:100%;
    text-align:left;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.team-list:hover {
    opacity: .7;
}
.team-detail {
    padding:10px;
    width:100%;
    text-align:left;
    background:#fff;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.team-detail table {
    width:100%;
    margin-top:30px;
}

.team-detail tr {
    border-bottom:1px solid #EFEFEF;
}
.team-detail th {
    width:150px;
    padding:12px;
    vertical-align:top;
}
.team-detail table p {
    padding:12px 24px 12px 0;
}
.team-detail h3 {
    background:#FB9C1E;
    line-height: 1.5;
    color:#fff;
    border-radius:5px;
    font-size:20px;
    padding-left:7px;
}
.team-list h3 {
    font-size:16px;
    background:#FB9C1E;
    line-height: 1.5;
    color:#fff;
    border-radius:5px;
    padding-left:7px;
}
.team-list-item {
    display:flex;
}
.team-list-left {
    width:50%;
    text-align:center;
}

.team-list-right {
    width:50%;
    padding-left:10px;
}
.team-list-right p {
    margin-bottom:5px;
    font-size:14px;
}
.team-list-right th {
    font-size:14px;
    padding-right:5px;
    vertical-align:top;
    text-align:center;
}
.team-list-right tr {
    font-size:14px;
}
.team-list-left .img {
    width:100%;
    height:auto;
}
.team-list-right .img {
    width:50%;
    height:auto;
    margin:0 auto;
}
.team-show {
    display:flex;
}

.team-list-flex {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.team-list-flex a, .team-list-flex.q{
    width:49%;
}

.new form #team_info_logo,.new form #team_info_image {
    background:#fff;
}
.btn-warning {
  color:#fff !important;
}
@media screen and ( max-width:576px ) {
.team-list-flex {
    flex-direction:column;
}
.team-list-flex a {
    width:auto;
}

.team-list-left .img {
    max-height:190px;
}
.team-detail h3 {
    font-size:16px;
}
.team-detail table {
    font-size:70%;
}
.team-detail th {
    width:100px;
}

.new form input {
    width:100%;
}
.new form select {
    width:100%;
}
.new form textarea {
    width:100%;
}
.team-show-left {
    width:100%;
}
.team-show-right {
    width:100%;
}
.chart {
    margin-top:50px;
    width:100%;
}
}

@media screen and ( max-width:768px ) {
.team-list-right p {
    font-size:14px;
}
}

