@import "bootstrap";

body {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.top-empty {
    display:hidden;
}

.top-bg {
    position:relative;
    width:100%;
}

header {
    width:100%;
    position:absolute;
    top:0;
}

nav {
    display:flex;
}

nav ul {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:0;
    padding:0;
    height:60px;
}

li {
    list-style:none;
}

.futmake {
    padding-top:10px;
    width:200px;
}

section:nth-of-type(odd) {
  background-color: #fff;
}
section h2 {
    margin:0;
    padding:70px 20px 40px 20px;
    text-align:center;
}
section ul {
    display:flex;
    padding:0;
}
.container p {
    text-align:center;
    margin-top: 1rem;
}
a {
  cursor:pointer;
  text-decoration:none !important;
  color:#333;
}
a:hover {
    color:#333;
}

.col-sm-9 li:hover {
    opacity:.6;
}

.awsome i{
    font-size:18px;
}
.hidden i {
    font-size:18px;
}

main {
    background-color:#EFEFEF;
}

footer {
    width:100%;
    background:#fff;
}

footer ul {
    margin:0 auto;
    width:60%;
}

footer p {
    text-align:center;
    margin:0;
    padding-bottom:20px;
}

footer li:hover {
   opacity:.7;
}


.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  z-index: 10;
  width: 100%;
  font-size: 14px;
}

.btn-sm {
    margin-top:10px;
}
.top-box {
    display:none;
}
@media screen and ( max-width:576px ) {
.top-empty {
    display:block;
    width:100%;
    height:100px;
}
.top-box {
    display:inline-block;
}
.futmake {
    width:150px;
}
.col-sm-3 {
    padding-left:0;
    padding-right:0;
}
.btn-sm {
    margin:0;
}

header ul {
    height:50px;
}

nav {
    flex-direction:column;
}

.col-sm-9 {
    padding-left:0;
    border-top:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;
}

.awsome {   
    width:100%;
    height:100%;
    border-right:1px solid #EFEFEF;
    padding-top:6px;
}

footer ul {
    height:40px;
    width:100%;
}
footer p {
    font-size:12px;
}

}

@media screen and ( max-width:768px ) {
    
// section ul {
//     flex-direction:column;
// }

 footer li {
    font-size:12px;
}

}

@media screen and ( max-width:900px ) {

.hidden {
    display:none;
}

.awsome {
  display:flex;
  flex-direction: column;
  text-align:center;
  font-size:12px;
}

}


