@import "bootstrap";

body {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.top-empty {
    display:hidden;
}

.top-bg {
    position:relative;
    width:100%;
}

header {
    width:100%;
    position:absolute;
    top:0;
}

nav {
    display:flex;
}

nav ul {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:0;
    padding:0;
    height:60px;
}

ul {
    list-style:none;
}

.futmake {
    padding-top:10px;
    width:200px;
}
section {
  padding-bottom:50px;
}
section:nth-of-type(odd) {
  background-color: #fff;
}
section h2 {
    margin:0;
    padding:70px 20px 40px 20px;
    text-align:center;
}
section h3 {
    text-align:center;
    margin-bottom: 1.5rem;
    padding-top:50px;
}
section ul {
    display:flex;
    padding:0;
}
.top-wrapper {
    width:95%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}
.top-wrapper li {
  width:32%;
  box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
  margin:30px auto;
}
.bgcolor-white {
  background:#fff;
}
.bgcolor-gray {
  background:#F2F2F2;
}
.top-wrapper li img {
    width:100%;
}
.top-wrapper h4 {
    font-size:18px;
    text-align:center;
    background:#fff;
    line-height:2;
    box-shadow: 5px 5px 5px 0 rgba(150, 150, 150, 0.5);
}

.top-wrapper p {
    margin: 15px 0 30px 0;
    font-size:14px;
    padding: 0 7px;
}

.top-wrapper table {
  padding: 10px 7px;
  border-collapse: separate;
}

.top-wrapper th {
    vertical-align:top;
    padding-bottom:20px;
}
.top-wrapper td {
    font-size:14px;
    padding-bottom:20px;
}
a {
  cursor:pointer;
  text-decoration:none !important;
  color:#333;
}
a:hover {
    color:#333;
}

.col-sm-9 li:hover {
    opacity:.6;
}

.awsome i{
    font-size:18px;
}
.hidden i {
    font-size:18px;
}

main {
    background-color:#EFEFEF;
}

footer {
    width:100%;
    background:#fff;
}

footer ul {
    margin:0 auto;
    width:60%;
}

footer p {
    text-align:center;
    margin:0;
    padding-bottom:20px;
}

footer li:hover {
   opacity:.7;
}


.top-flash {
  margin-top:60px !important;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.alert {
    margin:0;
    border-radius:0;
}

.btn-sm {
    margin-top:10px;
}
.top-box {
    display:none;
}
@media screen and ( max-width:576px ) {
.top-empty {
    display:block;
    width:100%;
    height:100px;
}
.top-flash {
  margin-top:0 !important;
}
.top-box {
    display:block;
}
.futmake {
    width:150px;
}
.col-sm-3 {
    padding-left:10px;
    padding-right:10px;
    display:flex;
    justify-content: space-between;
}
.top-box .btn-sm {
    margin:0;
}
.btn-default {
  border:1px solid #333;
}
.btn-default:hover {
  background:#EFEFEF;
}
header ul {
    height:50px;
}

nav {
    flex-direction:column;
}

.col-sm-9 {
    padding-left:0;
    border-top:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;
}

.awsome {   
    width:100%;
    height:100%;
    border-right:1px solid #EFEFEF;
    padding-top:6px;
}
.top-wrapper li {
  width:90%;
}
footer ul {
    height:40px;
    width:100%;
}
footer p {
    font-size:12px;
}

}

@media screen and ( max-width:768px ) {

section h2 {
    font-size:22px;
}
section h3 {
    font-size:22px;
}
 footer li {
    font-size:12px;
}

}

@media screen and ( max-width:900px ) {

.hidden {
    display:none;
}

.awsome {
  display:flex;
  flex-direction: column;
  text-align:center;
  font-size:12px;
}
.top-wrapper {
  flex-direction:column;
}

}

@media screen and ( min-width:576px ) and ( max-width:900px ) {
  
  .top-wrapper li {
  width:60%;
}
}