<footer>
  <nav>
    <ul>
      <li>
        <a>利用規約</a>
      </li>
      <li>
        <a>プライバシーポリシー</a>
      </li>
      <li>
        <a>お問い合わせ</a>
      </li>
      <li>
        <a>広告主募集</a>
      </li>
    </ul>
  </nav>
  <p>&copy;futsal</p>
</footer>