<footer>
  <nav>
    <ul>
      <li>
        <%= link_to "利用規約","/terms" %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー","/privacy" %>
      </li>
      <li>
        <%= link_to "お問い合わせ","/contact" %>
      </li>
      <li>
        <a>広告主募集</a>
      </li>
    </ul>
  </nav>
  <p>&copy;futsal</p>
</footer>