<footer>
  <nav>
    <ul>
      <li>
        <%= link_to "利用規約","/terms" %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー","/privacy" %>
      </li>
      <li>
        <%= link_to "お問い合わせ",new_contact_path %>
      </li>
      <li>
        <%= link_to "広告掲載","/advertising" %>
      </li>
    </ul>
  </nav>
  <p>&copy;2018 FUT MAKE</p>
</footer>